# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Connection URI (Local MongoDB Community Server or MongoDB Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/booknest_mongoose
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/booknest_mongoose?retryWrites=true&w=majority

# Database Name
DB_NAME=booknest_mongoose
